/*
  This file implements the color pallete for the project
  this is done to avoid having design bloat, such as hundreds of subtly
  different shades of green, which leads to designs drifting from spec

  all colors use the "$c-" prefix for the variable name,
  inspired by Hungarian Notation
*/

/***********
 * PALETTE *
 ***********/
$c-white: #FFF;
$c-black: #000;

$c-gray-light: lightgray;
$c-highlight: lightblue;

/************
 * SEMANTIC *
 ************/
$c-progress: lightblue;
$c-progress-bg: black;
$c-progress-border: black;