$progress-outline: 2px;
$progress-height: 16px;
$progress-radius: ($progress-height - 2*$progress-outline)/2; // edges are a perfect circle

.progressBar {
  width: 100%;
  height: $progress-height - $progress-outline*2;
  background-color: $c-progress-bg;
  border-radius: $progress-radius + $progress-outline;
  border: $progress-outline solid $c-progress-border;
  margin-bottom: 16px;

  .progress {
    height: 100%;
    background-color: $c-progress;
    border-radius: $progress-radius;
    transition: width 1s;
    min-width: $progress-radius*2; // show a dot when at 0%
  }
}